@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-sarif;
  ----breakpoint-3xl: 1920px;
  ----color-primary: #ff9324;
}
@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
  }
}
